<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/discover/place/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Discover</p>
  <ion-list *ngIf="places != null && places.length > 0">
    <ion-item *ngFor="let place of places">
      <ion-label>{{place.title}}</ion-label>
    </ion-item>
  </ion-list>
  <p class="danger" *ngIf="places == null || places.length == 0">No se ha encontrado ningún sitio</p>
  <ion-button (click)="addPlace()">Add place</ion-button>
</ion-content>
