<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/discover">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>New place</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/discover/place/">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <!-- Title -->
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input
                type="text"
                ngModel
                name="title"
                required
                #titleControl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!titleControl.valid && titleControl.touched"
              lines="none"
            >
              <ion-label color="danger"
                >You should enter a title (Eg.: My Fancy Place)</ion-label
              >
            </ion-item>

            <!-- Description -->
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea
                ngModel
                name="description"
                required
                #descriptionControl="ngModel"
              ></ion-textarea>
            </ion-item>
            <ion-item
              *ngIf="!descriptionControl.valid && descriptionControl.touched"
              lines="none"
            >
              <ion-label color="danger"
                >You should enter a description!</ion-label
              >
            </ion-item>

            <!-- Price -->

            <!-- Image -->
            <img [src]="image" />

            <ion-fab vertical="bottom" horizontal="center" slot="fixed">
              <ion-fab-button (click)="takePicture()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>

            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
            >Add</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
